@import compass/utilities
@import compass/layout
@import compass/css3

@import partials/classes
@import partials/variables
@import partials/typography
@import partials/color
@import partials/corners

.body
	@extend .box
	@extend .clearfix
	position: relative
	width: 100%
	margin: 0 auto
	.center
		@extend .center-container
		@extend .clearfix
		height: 1200px
		padding: ($v-gap/2) 0
		.content
			@extent .box
			width: $inside-width
			margin: 0 auto
			padding: 0

.banner
	@extend .box
	margin: 40px 0 0 0
	.logo
		p.textcenter
			text-align: center
			img
				width: 600px
				height: 140px
.info-box
	@extend .box
	@extend .clearfix
	width: 100%
	margin: 40px 0 0 0
	.text
		@extend .box
		position: relative
		font-family: "EmbedFont-1"
		margin: 0
		color: #000
		text-align: center
		h3
			font-family: "EmbedFont-3"
			margin: 0 0 1em 0
			padding-right: 3px
			font-size: 20px
			line-height: 22px
			text-transform: uppercase
			word-spacing: 0.1em
			letter-spacing: 0.05em
		p
			padding-right: 3px
			font-size: 14px
			line-height: 1.3em
			a
				color: $gray-med
				&:hover
					color: #000
					text-decoration: none
