- @title = ""
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

.body
  .center
    .content
      .banner
        .logo
          %p.textcenter
            %img{:src => "/images/logo.jpg", :alt => "West End Gastropub Logo"}
  
      .info-box
        .text
          %p
            5320 Westheimer
            %br
            Houston, TX 77056
            %br
            713-590-0616
            %br
            %a{:href => "mailto:info@westendgastropub.com"}info@westendgastropub.com
          %h3 Coming March 2012.
    